
.root {
    -fx-font-family: 'Arial';
}

.button:hover, .combo-box:hover {
    -fx-cursor: hand;
}

#title-bar {
    -fx-background-color: #d68100;
}

#button-close {
    -fx-background-color: transparent;
    -fx-text-fill: #7d0202;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

#button-close:hover {
    -fx-background-color: rgba(255,255,255,0.3);
}

#button-play {
    -fx-background-color: #218a01;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 1, 0, 0, 0);
}

#button-play:hover {
    -fx-background-color: #228f01;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 2, 0, 0, 0);
}

.button-field {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button-field:hover {
    -fx-background-color: rgba(255,255,255,0.55);
}

.game-button-control {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 1.5, 0, 0, 0);
}

.game-button-control:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 0);
}

#button-restart {
    -fx-background-color: #239401;
}

#button-restart:hover {
    -fx-background-color: #259902;
}

#button-pause-resume {
    -fx-background-color: #eb8000;
}

#button-pause-resume:hover {
    -fx-background-color: #f08402;
}

#button-cancel {
    -fx-background-color: #d60000;
}

#button-cancel:hover {
    -fx-background-color: #de0000;
}

#button-play-icon {
    -fx-background-color: transparent;
}

#button-play-icon:hover {
    -fx-background-color: rgba(255,255,255,0.5);
}

/* Combo Box */

.combo-box {
    -fx-background-color: transparent;
}

.combo-box:hover, #audio-button:hover {
    -fx-background-color: rgba(255,255,255,0.5);
}

.combo-box .combo-box-popup{
    -fx-padding: 0;
}

.combo-box .list-view {
    -fx-padding: 0;
}
.combo-box .list-cell {
    -fx-padding: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.combo-box .list-cell:hover {
    -fx-background-color: gray;
    -fx-cursor: hand;
}

.combo-box .arrow{
    -fx-background-color: green;
}

/* Botão Ícone Audio */

#button-audio {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

/* Spinner Volume */

.slider {
    -fx-background-color: #454545;
    -fx-background-radius: 5px;
}

.slider .track {
    -fx-background-color: #1c1c1c;
}

.slider .thumb {
    -fx-background-color: #8a8a8a;
}

